[run]
omit =
    */.venv/*

[report]
omit =
    /tmp/*
    */.venv/*
    image_app/settings/*
    image_app/app.py
    image_app/cli.py
    image_app/exception.py
    image_app/orm/db.py
    image_app/ml/preprocess.py
    image_app/ml/serializer.py
    tests/*
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.
    except ImportError
