# python
*.pyc
__pycache__/
*.egg-info/

# for test
.coverage
*.db
.profile/
image_app/profile/

# data
data/
saved_model/
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# development
.venv/

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
!tests/data/sample.jpg
/coverage

# production
/build

# misc
.DS_Store
.env
# backend
.env.dev
# frontend
.env.local
.env.development.local
.env.test.local
.env.production.local
